* {
    margin: 0;
    padding: 0;
    font-family: 'Clash Display', sans-serif;
    scroll-behavior: smooth;
}
section{
    overflow: hidden;
}
header div ul a {
    transition: 0.5s ease;
}

header div ul a:hover {
    color: #fbb239;
}

.bg-gray {
    background-color: rgb(240, 240, 240);
}

.card-page-1 {
    background-color: white;
}

@media (min-width:1001px) {
    .card-page-1:hover {
        border-radius: 10px;
        background-color: black;

        h1 {
            color: red;
        }

        p {
            color: white;
        }

        img {
            filter: invert(100%) brightness(100%);
        }
    }
}

@media (max-width:1000px) {
    .card-page-1 {
        border-radius: 10px;
        background-color: black;

        h1 {
            color: red;
        }

        p {
            color: white;
        }

        img {
            filter: invert(100%) brightness(100%);
        }
    }
}

.link-shoes h1,.cards {
    transition: 0.8s ease;
}

.bg-blur {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.358);
    background-color: rgba(107, 107, 107, 0.395);
}

.bg-cercle {
    background: radial-gradient(circle 75vw at center, transparent 0%, transparent 20%, black 20%);
}

@media (min-width:1024px) and (max-width:1279px) {
    .bg-cercle {
        background: radial-gradient(circle 100vw at center, transparent 0%, transparent 20%, black 20%);
    }
}

@media (max-width:1023px) {
    .bg-cercle {
        background: 0
    }
}

.bg-image{
    background-image: url(bg-choes.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.bg-gray-blur{
    background-color: rgba(0, 0, 0, 0.724);
}
